.DS_Store
.callNextBusAPI.py.swo
.callNextBusAPI.py.swp
.ipynb_checkpoints/
bus_1457_posits.png
callNextBusAPI.py
collection_of_histograms_N_Judah_vehicles.eps
collection_of_histograms_N_Judah_vehicles.png
collection_of_histograms_N_Judah_vehicles.svg
demo_day_presentation/
flaskexample/
inbound_route_30_bus_5489.png
nextbus_one_day_sf_muni_dump_edited.csv
python_pip_packages_2016_01_18.txt
run.py
sf_businesses.csv
temp.py
testing.txt
nextbus_one_day_sf_muni_dump.csv
all_muni_routes_distance_dists.png
all_muni_routes_distance_dists_normed.png
google_maps_api/
tmp_dump.txt
write_nextbus_data_to_sql.py
list_of_muni_routes.npy
muni_route_distance_distributions/
