<div id="bunching_results" class="directions_box">
	<div class="col-md-2">
	<span>
		{% if vehicle_type == 'BUS' %}
		<div class="row text-center">
			<img src="../static/images/muni_bus_64px_white.png" width="15" height="15" style="margin: 2px;"></img>
			<b class="text-center">{{ route_1 }}</b>
		</div>
		{% elif vehicle_type == 'TRAM' %}
		<div class="row text-center">
			<img src="../static/images/muni_train_64px_white.png" width="15" height="15" style="margin: 2px;"></img>
			<b class="text-center">{{ route_1 }}</b>
		</div>
		{% endif %}
	</span>
	</div>
	<div class="col-md-10">
	<span>
		upcoming in	
	</span>
	<span>
		<b>{{ arrival_time_1 }} min</b>
	</span>
	<br>
	<span></span><span></span> <span>from {{ stop_name }}.</span>
	</div>
	{% if prediction > 0.85 %}
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<p style="color: red;"><b>Very likely overloaded.</b></p>
	</div>
	{% elif prediction <= 0.85 and prediction > 0.55 %}
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<p style="color: orange;"><b>Likely overloaded.</b></p>
	</div>
	{% else %}
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<p style="color: lime;"><b>Usual loads.</b></p>
	</div>
	{% endif %}

	<div class="text-center"><a id="toggle_more_info">More info</a></div>
	<div id="more_info" style="display: none;">
		{% if prediction > 0.85 %}
		<p style="font-size: 13px;" class="text-center">
		<!-- There is a {{ (prediction*100) | int }}% chance this vehicle is bunched; taking the next vehicle is advised. --!>
			This vehicle is more bunched than {{ percentile }}% of typical vehicles on this route; taking the next vehicle is advised.
		</p>
		{% elif prediction <= 0.85 and prediction > 0.55 %}
		<p style="font-size: 13px;" class="text-center">
		<!-- 	There is a {{ (prediction*100) | int }}% chance this vehicle is bunched; consider taking the next vehicle. --!>
			This vehicle is more bunched than {{ percentile }}% of typical vehicles on this route; consider taking the next vehicle.
		</p>
		{% else %}
		<p style="font-size: 13px;" class="text-center">
		<!-- There is a {{ (prediction*100) | int }}% chance this vehicle is bunched; it is likely on its typical schedule. --!>
			This vehicle is more bunched than {{ percentile }}% of typical vehicles on this route; it is likely on its typical schedule.
		</p>
		{% endif %}
		<br>
		<!-- before we had height 150
		<div id="bunching_histogram" style="height:150px; width:275px;"></div> --!>
		<div id="bunching_histogram" style="height:0px; width:275px;"></div>
		<p style="font-size: 13px;" class="text-center">
			The next <b>{{ route_1 }}</b> is upcoming in	
			<b>{{ arrival_time_2 }} min</b>
		</p>
		</div>
	<br>
	<p class="text-center" style="font-size: 12px;"><a href={{ google_maps_url }}>Directions on Google Maps</a> | <a href="https://www.sfmta.com/">SFMTA<a></p>
</div>

