
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>BusUnBunchr- optimizing transit flow and commutes</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/starter-template.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
 	<link rel="stylesheet" href="../static/css/jquery.jqplot.css" />

  </head>

  <body style="padding-top: 50px;">

	<div id="googlemaps">
	</div>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">BusUnBunchr</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
			<li><a href="http://www.slideshare.net/secret/yqOoEbJtIE6uwR">About</a></li> <!-- just link slides and GitHub in 'About' --!>
			<li><a href="https://github.com/riemannzetagambit"><img src="../static/images/github_logo.png" width="20" height"20" style="margin-bottom: 2px"></a></li> 
			<li><a href="https://www.linkedin.com/in/davidcurtisstone"><img src="../static/images/linkedin_logo.png" width="20" height"20" style="margin-bottom: 4px"></a></li> 
          </ul>
		  <div class="nav navbar-nav navbar-right" style="margin-top: 7.5px;"> <img src="../static/images/buses_moving.png" height="40"></div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


	<div class="container" id="banner">
		<h1>Optimizing transit for the SF Muni system</h1>
	</div>
	<div class="container" id="directions_space">
		<div id="input_box" class="affix">
   			<input type="text" id="starting_location" name="starting_location" placeholder="Where are you starting?" autocomplete="off">
			<br>
   			<input type="text" id="ending_location" name="ending_location" placeholder="Where are you going?" autocomplete="off">
			<br>
    	   	<button id="submit_info" class="btn btn-lg btn-primary">Get directions</button>
			<div id="status"></div>
		</div>
		<div id="spinner"></div>
	</div>


    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- spinner -->
    <script type="text/javascript" src="static/js/spin.min.js"></script>

    <!-- Google Maps API (for geocomplete) (note the 'sensor' argument is no longer required) -->
    <script src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="../static/js/jquery.geocomplete.min.js"></script>

	<!-- JQuery Plot script for adding bar plot --!>
	<script language="javascript" type="text/javascript" src="../static/js/jquery.jqplot.min.js"></script>
	<script language="javascript" type="text/javascript" src="../static/js/jqplot.barRenderer.min.js"></script>
	<script language="javascript" type="text/javascript" src="../static/js/jqplot.categoryAxisRenderer.min.js"></script>

	<script type="text/javascript">

	// This code taken in part from a comment here:
	// http://googlegeodevelopers.blogspot.de/2010/03/good-day-for-salesmen-that-travel-on.html
	// Any vars that need to be defined outside the scope of functions as global vars, declare here
	var directionDisplay;
	var directionsService = new google.maps.DirectionsService();
	var directionsVisible = false;
	var origin;
	var destination;
	var spinner = new Spinner().spin();

	function initialize() {
		directionsDisplay = new google.maps.DirectionsRenderer();
		var position = [37.762718, -122.448161];
		var myOptions = {
            zoom: 13,
            scaleControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
			//center: latLng
        };

		map = new google.maps.Map(document.getElementById('googlemaps'),
            myOptions);
        latLng = new google.maps.LatLng(position[0], position[1]);
		map.setCenter(latLng);
		directionsDisplay.setMap(map);
		directionsDisplay.setPanel(document.getElementById('directionsPanel'));
    }

	function calcRoute() {
		var request = {
			origin: origin,
			destination: destination,
			travelMode: google.maps.DirectionsTravelMode.TRANSIT
			}
		directionsService.route(request, function(response, status) {
			if (status == google.maps.DirectionsStatus.OK) {
				directionsDisplay.setDirections(response);
			}
		});
		
		directionsVisible = true;
	}
	
	//function updateMode() {
	//	if (directionsVisible) {
// M//ade a correction here
	//		calcRoute();
	//	}
	//}
	function reset() {
    	directionsDisplay.setMap(null);
    	directionsDisplay.setPanel(null);
    	directionsDisplay = new google.maps.DirectionsRenderer();
    	directionsDisplay.setMap(map);
    	directionsDisplay.setPanel(document.getElementById("directionsPanel"));    
  	}
	google.maps.event.addDomListener(window, 'load', initialize);

	$(document).ready(function(){
        $('#starting_location').geocomplete();
        $('#ending_location').geocomplete();
    

		$('#submit_info').click(function() {
			origin = $('#starting_location').val();
			destination = $('#ending_location').val();
			console.log("Origin is "+origin)
			console.log("Destination is "+destination)
			// Make it SPIN
			$("#spinner").append(spinner.el);

			$.post('/app', {'start': origin, 'end': destination},
				function(data){
					spinner.stop();
					// add a little message that says if route was found
					if($('#status_message').length){
						$('#status_message').remove();
						console.log("#status_message.length evaluated to true.");
					}
					$('#status').html(data.message);
				
					console.log(data);
					console.log("First position is: "+data.position1);
					console.log("Second position is: "+data.position2);
					var prediction = data.prediction;
					console.log(prediction)
					var route_1 = data.route_1;
					console.log(route_1)
					//var route_bunching_hist = data.bunching_hist;


					// delete if the element exists so we reset the thing
					if($('#bunching_results').length){
						$('#bunching_results').remove();
						console.log("#bunching_results.length evaluated to true.");
					}
					$('#directions_space').append(data.directions_box_1)

					// make 'make_info' link clickable to show more info
					$("a#toggle_more_info").click(function(){
    					$("#more_info").toggle();
						//var line1 = [['A',1],['B',2],['C',1]];
						var line1 = [['Nissan', 4],['Porche', 6],['Acura', 2],['Aston Martin', 5],['Rolls Royce', 6]];
						//console.log('Evaluating length of jqplot: '+$('#bunching_histogram').length);
						//if($('#bunching_histogram').data('jqplot').length){
						//	$('#bunching_histogram').data('jqplot').remove();
						//	console.log('removed jqplot element.');
						//}
						console.log('bunching_histogram element length: '+$('#bunching_histogram_plot').length);
						// Put this back in later when I can make the graphs work
						//if(!$('#bunching_histogram_plot').length){
						//	console.log('Length of bunching_histogram was zero.');
						//	//original (h,w) : (150, 275)
						//	$('#bunching_histogram').append('<div id="bunching_histogram_plot" style="height:150px; width:275px;"></div>');
						//	$('#bunching_histogram_plot').jqplot('chart',[line1], {
						//		title:'Chart',
						//		seriesDefaults:{
						//			renderer:$.jqplot.BarRenderer
						//		},
						//		axes:{
						//			xaxis:{
						//				renderer: $.jqplot.CategoryAxisRenderer
						//				}
						//			}
						//	}); // end of jqplot call
						//} // end if statement
						//else {
						//	console.log('in else');
						//}
  					}); // end of click 'more_info' call

				}); // end of $.post call

			calcRoute();

			});
      });
    </script>
  </body>
</html>

