
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>BusUnBunchr- optimizing transit flow and commutes</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/starter-template.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
 	<link rel="stylesheet" href="../static/css/jquery.jqplot.css" />

  </head>

  <body style="padding-top: 50px;">

	<div id="googlemaps">
	</div>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            	<span class="sr-only">Toggle navigation</span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
          	</button>
			<a class="navbar-brand" href="http://www.busunbunchr.xyz">BusUnBunchr</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
			<li><a href="http://www.slideshare.net/secret/yqOoEbJtIE6uwR">About</a></li> <!-- just link slides and GitHub in 'About' --!>
			<li><a href="https://github.com/riemannzetagambit"><img src="../static/images/github_logo.png" width="20" height"20" style="margin-bottom: 2px"></a></li> 
			<li><a href="https://www.linkedin.com/in/davidcurtisstone"><img src="../static/images/linkedin_logo.png" width="20" height"20" style="margin-bottom: 4px"></a></li> 
          </ul>
		  <div class="nav navbar-nav navbar-right" style="margin-top: 7.5px;"> <img src="../static/images/buses_moving.png" height="40"></div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


	<div class="container" id="directions_space">
		<div id="input_box" class="affix">
   			<input type="text" id="starting_location" name="starting_location" placeholder="Where in SF are you starting?" autocomplete="off">
			<br>
   			<input type="text" id="ending_location" name="ending_location" placeholder="Where in SF are you going?" autocomplete="off">
			<br>
    	   	<button id="submit_info" class="btn btn-lg btn-primary">Get directions</button>
			<div id="status"></div>
		</div>
		<div id="spinner"></div>
	</div>


    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- spinner -->
    <script type="text/javascript" src="static/js/spin.min.js"></script>

    <!-- Google Maps API (for geocomplete) (note the 'sensor' argument is no longer required) -->
    <script src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="../static/js/jquery.geocomplete.min.js"></script>

	<!-- Highcharts script for adding bar plot --!>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	
	<script type="text/javascript">

	// This code taken in part from a comment here:
	// http://googlegeodevelopers.blogspot.de/2010/03/good-day-for-salesmen-that-travel-on.html
	// Any vars that need to be defined outside the scope of functions as global vars, declare here
	var directionDisplay;
	var directionsService = new google.maps.DirectionsService();
	var directionsVisible = false;
	var origin;
	var destination;
	var spinner = new Spinner().spin();

	function initialize() {
		directionsDisplay = new google.maps.DirectionsRenderer();
		var position = [37.762718, -122.448161];
		var myOptions = {
            zoom: 13,
            scaleControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
			//center: latLng
        };

		map = new google.maps.Map(document.getElementById('googlemaps'),
            myOptions);
        latLng = new google.maps.LatLng(position[0], position[1]);
		map.setCenter(latLng);
		directionsDisplay.setMap(map);
		directionsDisplay.setPanel(document.getElementById('directionsPanel'));
    }

	function calcRoute() {
		var request = {
			origin: origin,
			destination: destination,
			travelMode: google.maps.DirectionsTravelMode.TRANSIT
			}
		directionsService.route(request, function(response, status) {
			if (status == google.maps.DirectionsStatus.OK) {
				directionsDisplay.setDirections(response);
			}
		});
		
		directionsVisible = true;
	}
	/*
	You can now create a spinner using any of the variants below:
	
	$("#el").spin(); // Produces default Spinner using the text color of #el.
	$("#el").spin("small"); // Produces a 'small' Spinner using the text color of #el.
	$("#el").spin("large", "white"); // Produces a 'large' Spinner in white (or any valid CSS color).
	$("#el").spin({ ... }); // Produces a Spinner using your custom settings.
	
	$("#el").spin(false); // Kills the spinner.
	
	*/
	(function ($) {
	    $.fn.spin = function (opts, color) {
	        var presets = {
	            "tiny": {
	                lines: 8,
	                length: 2,
	                width: 2,
	                radius: 3
	            },
	                "small": {
	                lines: 8,
	                length: 4,
	                width: 3,
	                radius: 5
	            },
	                "large": {
	                lines: 10,
	                length: 8,
	                width: 4,
	                radius: 8
	            }
	        };
	        if (Spinner) {
	            return this.each(function () {
	                var $this = $(this),
	                    data = $this.data();
	
	                if (data.spinner) {
	                    data.spinner.stop();
	                    delete data.spinner;
	                }
	                if (opts !== false) {
	                    if (typeof opts === "string") {
	                        if (opts in presets) {
	                            opts = presets[opts];
	                        } else {
	                            opts = {};
	                        }
	                        if (color) {
	                            opts.color = color;
	                        }
	                    }
	                    data.spinner = new Spinner($.extend({
	                        color: $this.css('color')
	                    }, opts)).spin(this);
	                }
	            });
	        } else {
	            throw "Spinner class not available.";
	        }
	    };
	})(jQuery);
	
	function reset() {
    	directionsDisplay.setMap(null);
    	directionsDisplay.setPanel(null);
    	directionsDisplay = new google.maps.DirectionsRenderer();
    	directionsDisplay.setMap(map);
    	directionsDisplay.setPanel(document.getElementById("directionsPanel"));    
  	}
	google.maps.event.addDomListener(window, 'load', initialize);

	$(document).ready(function(){
        $('#starting_location').geocomplete();
        $('#ending_location').geocomplete();
    

		$('#submit_info').click(function() {
			origin = $('#starting_location').val();
			destination = $('#ending_location').val();
			console.log("Origin is "+origin)
			console.log("Destination is "+destination)
			// Make it SPIN
			// old method of spinning
			//$("#spinner").append(spinner.el);
			$('#spinner').spin()

			$.post('/app', {'start': origin, 'end': destination},
				function(data){
					// old method of spinning
					//spinner.stop();
					$('#spinner').spin(false);
					// add a little message that says if route was found
					if($('#status_message').length){
						$('#status_message').remove();
						console.log("#status_message.length evaluated to true.");
					}
					$('#status').html(data.message);
				
					console.log(data);
					console.log("First position is: "+data.position1);
					console.log("Second position is: "+data.position2);
					console.log("Got route hist: "+data.route_bunching_hist);
					var prediction = data.prediction;
					console.log(prediction);
					var route_1 = data.route_1;
					console.log(route_1);
					// must do this so plot isn't reading in text instead of an array
					console.log('data.route_bunching_hist is: '+data.route_bunching_hist);
					if(data.route_bunching_hist){
						var route_hist = $.parseJSON(data.route_bunching_hist);
					}
					var append_data = $.parseJSON(data.append_data);
					console.log('append_data is: '+append_data);


					// delete if the element exists so we reset the thing
					if($('#bunching_results').length){
						$('#bunching_results').remove();
						console.log("#bunching_results.length evaluated to true.");
					}
					if(append_data === true){
						$('#directions_space').append(data.directions_box_1);
					}

					// make 'make_info' link clickable to show more info
					$("a#toggle_more_info").click(function(){
    					$("#more_info").toggle();
						// function to add highcharts plot
						$(function () {
						    $('#bunching_histogram').highcharts({
						        chart: {
						            type: 'column',
									// color from my CSS file
									backgroundColor: 'transparent'
						        },
						        title: {
						            text: ''
						        },
								legend: {
        						    enabled: false
        						},
        						xAxis: {
        						    categories: [
        						        'Spaced',
        						        '',
        						        '',
        						        '',
        						        'Normal',
        						        '',
        						        '',
        						        '',
        						        'Bunched'
        						    ],
        						    tickInterval: 4,
        						    labels: {
        						    	rotation: 0,
										style: {
											color: '#F3F3F3'
										}	
        						    }
        						},
						        yAxis: {
									gridLineWidth: 0,
						            min: 0,
									labels: {
										enabled: false
									},
						            title: {
						                text: ''
						            }
						        },
						        plotOptions: {
						            column: {
						                pointPadding: -0.25,
						                borderWidth: 0
						            }
						        },
						        series: [{
						            name: 'Value',
						            //data: data.route_bunching_hist
									data: route_hist
						
								}],
								// don't put that button on it
								exporting: {enabled: false},
								// don't use mouse-over labels
								tooltip: {enabled: false}
						    });
						}); // end of function to add highcharts
  					}); // end of click 'more_info' call

				}); // end of $.post call

			calcRoute();

			});
      });
    </script>
  </body>
</html>

