<div id="bunching_results" class="directions_box">
	<div class="col-md-2">
	<span>
		{% if vehicle_type == 'BUS' %}
		<div class="row text-center">
			<img src="../static/images/muni_bus_64px_white.png" width="15" height="15" style="margin: 2px;"></img>
			<b class="text-center">{{ route_1 }}</b>
		</div>
		{% elif vehicle_type == 'TRAM' %}
		<div class="row text-center">
			<img src="../static/images/muni_train_64px_white.png" width="15" height="15" style="margin: 2px;"></img>
			<b class="text-center">{{ route_1 }}</b>
		</div>
		{% endif %}
	</span>
	</div>
	<div class="col-md-10">
	<span>
		upcoming in	
	</span>
	<span>
		<b>{{ arrival_time_1 }} min</b>
	</span>
	<br>
	<span></span><span></span> <span>from {{ stop_name }}.</span>
	</div>
	{% if prediction > 0.75 %}
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<p style="color: red;"><b>Very likely overloaded.</b></p>
	</div>
	{% elif prediction <= 0.75 and prediction > 0.5 %}
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<p style="color: orange;"><b>Likely overloaded.</b></p>
	</div>
	{% else %}
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<p style="color: green;"><b>Usual loads.</b></p>
	</div>
	{% endif %}

	<div class="text-center">More info</div>
	<div id="more_info" style="display: none;">
		<p>Testing the hidden feature</p>
	</div>
	<br>
	<p class="text-center" style="font-size: 12px;"><a href={{ google_maps_url }}>Directions on Google Maps</a> | <a href="https://www.sfmta.com/">SFMTA<a></p>
</div>

