<div id="bunching_results" class="directions_box">
	<div>
	<span>
		<img src="../static/images/muni_bus_64px_white.png" width="15" height="15" style="margin: 2px;"></img>
	</span>
	<span style="margin-right: 5px; width: 20%;">
		<b>{{ route_1 }}</b>
	</span>
	</div>
	<div style="width: 80%; margin-left: 0px;">
	<span>
		upcoming in	
	</span>
	<span>
		<b>{{ arrival_time_1 }} min</b>
	</span>
	<br>
	<span></span><span></span> <span>from this stop.</span>
	</div>
	{% if prediction > 0.75 %}
		<p style="color: red;"><b>Very likely overloaded.</b></p>
	{% elif prediction <= 0.75 and prediction > 0.5 %}
		<p style="color: orange;"><b>Likely overloaded.</b></p>
	{% else %}
		<p style="color: green;"><b>Usual loads.</b></p>
	{% endif %}

	<
</div>

