<div id="bunching_results" class="directions_box">
	<p>Route: {{ route_1 }}</p>
	<p>In {{ arrival_time_1 }} minute(s).</p>
	{% if prediction > 0.75 %}
		<p style="color: red;"><b>This bus is {{ prediction*100 }}% likely to be overloaded.</b></p>
		<p style="color: red;"><b>Consider taking the subsequent bus, arriving in {{ arrival_time_2 }} minute(s).</b></p>
	{% elif prediction <= 0.75 and prediction > 0.5 %}
		<p style="color: orange;"><b>This bus is  {{ prediction*100 }}% likely to be overloaded.</b></p>
		<p style="color: orange;"><b>Consider taking the subsequent bus, arriving in {{ arrival_time_2 }} minute(s).</b></p>
	{% else %}
		<p style="color: green;"><b>This route running smoothly.</b></p>
	{% endif %}
</div>

