body {
  padding-top: 65px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
#sidebar {
    position:absolute;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}

#googlemaps {
	height: 100%;
	width: 100%;
	position:absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.class {
	opacity: 1.0;
}

.container {
	width: fit-content;
}

#input_box.affix {
    top-margin: 10px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    /*color: #FFF;*/
    color: #000;
    /*background-color: rgba(0, 0, 0, 0.7);*/
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
	/* to override some inherited command; janky */
	position: relative;
}

#directions_space.container {
	top: 50px;
    width: 0px;
    margin: 20px;
    padding: 20px;
    /*color: #FFF;*/
	position: fixed;
}

#banner.container {
	top: 0px;
    width: 725px;
	left: 50%;
    padding: 5px;
    /*color: #FFF;*/
	position: center;
}

.container h1 {
	padding: 0px;
	margin: 0px;
}

.directions_box {
	top-margin: 3px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    color: #FFF;
    /*color: #9D9D9D;*/
    background-color: transparent;
    border-color: #AAA;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

input {
    margin-bottom: 5px;
}

#submit_info {
    width: 100%;
    margin: 10px 0px;
	margin-top: 10px;
}
.btn-primary {
    color: #FFF;
    /*color: #9D9D9D;*/
    background-color: #282C30;
    /*border-color: #FFF;*/
    border-color: #9D9D9D;
}
#spinner {
	width: 0px;
	height: 0px;
	top: 50%;
	left: 50%;
	position: fixed;
}
